@if (project) {
  <p class="text-sm leading-7 text-slate-500">
    {{ project.description || 'Keine Beschreibung vorhanden.' }}
  </p>

  <div class="mt-6 grid grid-cols-2 gap-4 border-t pt-5 text-left">
    <div>
      <p class="text-xs text-slate-400">Projekt-URL</p>
      <p class="text-sm font-medium text-slate-700">{{ project.projectUrl }}</p>
    </div>

    <div>
      <p class="text-xs text-slate-400">Sichtbarkeit</p>
      <p class="text-sm font-medium text-slate-700">
        {{ project.isPrivateProject ? 'Privat' : 'Öffentlich' }}
      </p>
    </div>
  </div>

  <div class="mt-6 grid grid-cols-2 gap-y-4 border-t pt-5 text-center sm:grid-cols-4">
    <div>
      <p class="text-xl font-bold text-lime-500">
        {{ project.stats.contributors }}
      </p>
      <p class="text-xs text-slate-400">Mitwirkende</p>
    </div>

    <div>
      <p class="text-xl font-bold text-lime-500">
        {{ project.stats.views }}
      </p>
      <p class="text-xs text-slate-400">Aufrufe</p>
    </div>

    <div>
      <p class="text-xl font-bold text-lime-500">
        {{ project.stats.likes }}
      </p>
      <p class="text-xs text-slate-400">Likes</p>
    </div>

    <div>
      <p class="text-xl font-bold text-lime-500">
        {{ project.stats.openPositions }}
      </p>
      <p class="text-xs text-slate-400">Offene Stellen</p>
    </div>
  </div>
}
