<app-wizard-layout>

  <div sidebar>
    <app-stepper [currentStep]="currentStep"></app-stepper>
  </div>

  @if (currentStep === 0) {
    <app-project-general-form
      [initialFormData]="projectData"
      (next)="saveGeneralFormAndContinue($event)">
    </app-project-general-form>
  }
  @if (currentStep === 1){
    <app-project-settings-form
      [initialFormData]="projectData"
      (back)="saveSettingsFormAndBack($event)"
      (next)="saveSettingsFormAndContinue($event)">
    </app-project-settings-form>
  }

  @if (currentStep === 2){
    <app-project-members-form
      (back)="previousStep()"
      (next)="nextStep()">
    </app-project-members-form>
  }

  @if (currentStep === 3) {
    <app-project-finish-form
      [projectData]="projectData"
      (back)="previousStep()"
      (finish)="finishProjectCreation()">
    </app-project-finish-form>
  }
</app-wizard-layout>
