<div class="space-y-0">

  @for (step of steps; track step; let i = $index) {

    <div class="flex gap-4">


      <div class="flex flex-col items-center">

        <!-- Set different styling for current users step-->
        <div
          class="flex h-8 w-8 items-center justify-center rounded-full border text-sm font-semibold"

          [class.border-lime-500]="i < currentStep"
          [class.bg-lime-500]="i < currentStep"

          [class.border-slate-700]="i >= currentStep"
          [class.bg-slate-700]="i === currentStep"
          [class.bg-white]="i > currentStep"

          [class.text-white]="i <= currentStep"
          [class.text-slate-700]="i > currentStep">

          {{ i + 1 }}

        </div>

        @if (i < steps.length - 1) {
          <div class="h-12 w-px bg-slate-200"></div>
        }

      </div>

      <div class="pt-2">

        <span
          class="text-sm text-slate-600"
          [class.font-bold]="i === currentStep"
          [class.text-slate-900]="i === currentStep">

          {{ step }}

        </span>

      </div>

    </div>

  }

</div>
