<div class="flex gap-6 text-sm items-center">

<!--  <button>-->
<!--    <i class="pi pi-bell text-xl"></i>-->
<!--  </button>-->

  <div class="flex items-center gap-2">
    <div class="flex flex-col items-end">
      <div class="font-semibold">{{ username }}</div>
      <div class="status text-xs">Eingeloggt</div>
    </div>

    <button class="">
      @if (imageUrl) {
        <img ngSrc="{{imageUrl}}" width="12" height="12" alt="User Avatar" class="rounded-full size-12 object-cover">
      } @else {
        <div class="rounded-full user size-12 flex justify-center items-center bg-green-400">
          <i class="pi pi-user text-xl"></i>
        </div>
      }
    </button>

    <button type="button" (click)="logout()" class="text-xs underline text-gray-600 hover:text-black">
      Logout
    </button>

  </div>
</div>
