<div class="flex gap-6 text-sm items-center">
  <div class="flex items-center gap-2">
    <div class="flex flex-col items-end">
      <div class="font-semibold">{{ username }}</div>
      <div class="status text-xs">{{ 'NAV.AUTH' | translate }}</div>
    </div>

    <a [routerLink]="['/profiles', username]" class="block self-stretch">
      @if (imageUrl) {
        <img
          ngSrc="{{ imageUrl }}"
          width="24"
          height="24"
          alt="User Avatar"
          class="rounded-full h-full aspect-square object-cover"
        />
      } @else {
        <div
          class="rounded-full user h-full aspect-square flex justify-center items-center bg-slate-900"
        >
          <i class="pi pi-user text-xs text-white"></i>
        </div>
      }
    </a>

    <button
      type="button"
      (click)="logout()"
      class="ml-5 rounded-full p-2 text-slate-900 transition hover:bg-gray-100"
    >
      <i class="pi pi-sign-out text-md"></i>
    </button>
  </div>
</div>
