<header
  class="bg-gradient-to-br from-slate-600 to-slate-800 px-6 py-8 text-white"
>
  <div class="mx-auto flex max-w-6xl justify-between">
    <div class="max-w-xl">
      <span class="rounded-full bg-lime-100 px-4 py-1 text-xs text-lime-700">
        ● {{ project.isPrivateProject ? 'Privat' : 'Öffentlich' }}
      </span>

      <h1 class="mt-8 text-4xl font-bold">
        {{ project.name }}
      </h1>

      <p class="mt-4 text-sm leading-6 text-slate-200">
        {{ project.description || 'Keine Beschreibung vorhanden.' }}
      </p>

      <div class="mt-6 flex gap-3">
<!--        TODO: implement-->
<!--        <button-->
<!--          class="rounded-md bg-lime-500 px-4 py-2 text-sm font-medium text-white transition hover:bg-lime-600"-->
<!--        >-->
<!--          Kontakt Anfrage senden-->
<!--        </button>-->
      </div>
    </div>

    <div class="hidden flex-col gap-3 md:flex">
<!--      TODO: implement-->
<!--      @if (isOwner) {-->
<!--        <button-->
<!--          class="rounded-full bg-slate-700 px-5 py-2 text-sm transition hover:bg-slate-600"-->
<!--        >-->
<!--          Einstellungen-->
<!--        </button>-->
<!--      }-->

<!--      TODO: implment-->
<!--      <button-->
<!--        class="rounded-full bg-slate-700 px-5 py-2 text-sm transition hover:bg-slate-600"-->
<!--      >-->
<!--        Chat-->
<!--      </button>-->

      <!--      TODO: implment-->
<!--      <button-->
<!--        class="rounded-full bg-slate-700 px-5 py-2 text-sm transition hover:bg-slate-600"-->
<!--      >-->
<!--        Anfragen (3)-->
<!--      </button>-->
    </div>
  </div>
</header>
