<form class="space-y-5">

  <div>
    <label class="mb-1 block text-sm font-medium text-gray-700">
      Project name
    </label>

    <input
      type="text"
      placeholder="Enter project name..."
      class="w-full rounded-lg border border-gray-300 px-3 py-2 outline-none focus:border-lime-500">
  </div>

  <div>
    <label class="mb-1 block text-sm font-medium text-gray-700">
      Description
    </label>

    <textarea
      rows="4"
      placeholder="Describe your project"
      class="w-full rounded-lg border border-gray-300 px-3 py-2 outline-none focus:border-lime-500"></textarea>
  </div>

  <div class="flex justify-end pt-4">
    <button
      type="button"
      (click)="next.emit()"
      class="rounded-lg bg-lime-500 px-5 py-2 text-sm font-medium text-white hover:bg-lime-600">
      Next
    </button>
  </div>

</form>
