# === Database ===
MYSQL_USER=swtp
MYSQL_PASSWORD=change-me-swtp

# === Registry ===
GHCR_NAMESPACE=mlanima

# === External services ===
OPENAI_API_KEY=sk-proj-...
SPRING_DATA_REDIS_HOST=redis.ser.mlanima.org
