# === Database ===
MYSQL_USER=swtp
MYSQL_PASSWORD=change-me-swtp

# === Registry ===
GHCR_NAMESPACE=mlanima

# === External services ===
OPENAI_API_KEY=sk-proj-...
SPRING_DATA_REDIS_HOST=redis.ser.mlanima.org

# === Discord ===
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_API_SECRET=
