# === Database ===
SPRING_PROFILES_ACTIVE=mysql
SPRING_DATASOURCE_USERNAME=swtp
SPRING_DATASOURCE_PASSWORD=change-me-swtp

# === Mail ===
SPRING_MAIL_HOST=maildev
SPRING_MAIL_PORT=1025

# === Uploads ===
APP_UPLOADS_DIR=/app/uploads

# === Logging ===
BE_LOG_LEVEL=DEBUG

# === External services ===
OPENAI_API_KEY=sk-proj-...
SPRING_DATA_REDIS_HOST=redis.ser.mlanima.org
